<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jaja.home.xmpp">

    <uses-permission android:name="android.permission.INTERNET" />


    <application
        android:name=".app.appContext"
        android:allowBackup="true"
        android:icon="@drawable/em_logo_uidemo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".act.MatAct" />
        <activity android:name=".act.LoginAct" />
        <activity android:name=".act.RegisterAct" />
        <activity android:name=".act.ConfigAct" />
        <activity android:name=".act.HeadSelectAct" />
        <activity android:name=".act.SearchAct" />
        <activity android:name=".act.ChatAct" />
        <activity
            android:name=".act.AddUserAct"
            android:theme="@style/noActionBar" />
        <activity android:name=".act.WelcomeAct">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".service.CoreSerice" />

    </application>

</manifest>